<script lang="ts">
    let files = [];

    async function onUpload() {
        console.log(files);
        if (files.length) {
            let file = files[0];
            let formData = new FormData();
            /* Size must be the first part */
            formData.append("size", file.size);
            formData.append("name", file.name);
            formData.append("type", file.type);

            const res = await fetch("/todos", {
                method: "POST",
                body: formData,
                /* Don't set the Content-Type header.
                 See: https://muffinman.io/uploading-files-using-fetch-multipart-form-data/ */
            });
console.log(res);

            const data = await res.json();
            console.log(data);
        }
    }
</script>

<input type="file" id="input-file" name="input-file" bind:files />

<button on:click={onUpload}>Upload</button>
